<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pavel Yudchits</title>
    <link rel="stylesheet" href="about-me.css">
    <link rel="shortcut icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header>
                <!-- here will be inserted navbar by script -->
            </header>
            <main>
                <section class="about-me">
                    <div class="about-me__container">
                        
                    </div>
                </section>
            </main>
        </div>
    </div>

    <script type="module" src="../../main.js"></script>
    <script type="module" src="about-me.js"></script>
</body>
</html>