<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pavel Yudchits</title>
    <link rel="stylesheet" href="about-me.css">
    <link rel="shortcut icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="_fade-animation">
                <!-- here will be inserted navbar by script -->
            </header>
            <main>
                <section class="about-me">
                    <div class="about-me__container">
                        <div class="about-me-desc__items">
                            <div class="about-me-desc__item">
                                <div class="about-me-desc-item__text _fade-animation">
                                    My name is Pavel. I was born and grown in Belarus. I work as a 
                                    full-stack developer for 1 year. Technologies I use: <b>.NET</b>, 
                                    <b>Angular</b>.
                                </div>
                                <div class="about-me-desc-item__image _fade-animation">
                                    <img 
                                        src="../../assets/images/me.jpg" 
                                        alt="Me"
                                        width="150px"
                                        class="about-me-desc-item-image__image"
                                    >
                                </div>
                            </div>
                            <div class="about-me-desc__item">
                                <div class="about-me-desc-item__text _fade-animation">
                                    The introduction to the IT field occured while staying at the camp, when we went on excursion in one of the leading IT-universities of Belarus - <b>BSUIR</b>. That excursion has become the starting point of my programming way...
                                </div>
                            </div>
                            <div class="about-me-desc__item">
                                <div class="about-me-desc-item__text _fade-animation item-4">
                                    The intention to enter BSUIR came up shortly before school graduation.
                                    Before that time, I had no clue who I want to be, so I used to say,
                                    that my dream was becoming a policeman. The choice of the one
                                    was more accidental than intentional. Styding at the university
                                    didn't solve my problem with motivation immediately. But all have
                                    changed after the second year.
                                </div>
                                <div class="about-me-desc-item__image _fade-animation">
                                    <img 
                                        src="../../assets/images/me.jpg" 
                                        width="150px" 
                                        alt="Me"
                                        class="about-me-desc-item-image__image"
                                    >
                                </div>
                            </div>
                            <div class="about-me-desc__item">
                                <div class="about-me-desc-item__text _fade-animation">
                                    I don't understand the reason yet,
                                    but I decided that fate itself brought me to this university and I should
                                    go fair. Sincere desire has appeared at that moment.
                                    Despite the fact that I already passed some programming courses, I have
                                    should start from the beginning. The first favourite language was Java.
                                    I have learned a lot of information include one that I have should 
                                    already learned during the first two years. I was genuinely fired up to 
                                    learn more. Afterwards, thanks to one of the teacher, I got the job.
                                    The paradox is that the language that is needed on this job was C#.
                                    That's how my <b>.NET career</b> has been started...
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>

    <script type="module" src="../../main.js"></script>
    <script type="module" src="about-me.js"></script>
</body>
</html>