<section class="navbar">
  <div class="navbar__container">
    <div class="navbar__body">
      <nav class="navbar__collapse">
        <div class="navbar-collapse__brand">
          <a class="navbar-collapse-brand">Yudchits</a>
        </div>
        <label for="active-navbar" class="hamburger-menu">
          <input type="checkbox" id="active-navbar">
        </label>
        <div class="navbar-collapse__list">
          <div class="navbar-collapse-list__container">
            <ul class="navbar-collapse-list__items">
              <li class="navbar-collapse-list__item">
                <a href="../../components/about-me/about-me.html" class="navbar-link">About me</a>
              </li>
              <li class="navbar-collapse-list__item">
                <a href="#" class="navbar-link">Skills</a>
              </li>
              <li class="navbar-collapse-list__item">
                <a href="#" class="navbar-link">Experience</a>
              </li>
              <li class="navbar-collapse-list__item">
                <a href="#" class="navbar-link">Contacts</a>
              </li>
              <li class="navbar-collapse-list__item">
                <a href="../mode/mode.html" class="navbar-link">Mode</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>