@import url('../../style.css');

.wrapper {
    height: 100%;
}

.mode {
    height: 100%;
}

.mode__container {
    height: 100%;
}

.mode__light {
    height: 100%;
    width: 50%;
    float: right;
    background-color: var(--clr-dark);
}

.mode__dark {
    height: 100%;
    width: 50%;
    background-color: var(--clr-light);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0000004a);
}

.mode-light-btn {
    color: var(--clr-light);
}

.mode-light-btn:hover {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    box-shadow: 0 0 50px var(--clr-light);
}

.mode-light-btn::before {
    border-top: 2px solid var(--clr-light);
    border-left: 2px solid var(--clr-light);
}

.mode-light-btn::after {
    border-bottom: 2px solid var(--clr-light);
    border-right: 2px solid var(--clr-light);
}

.mode-dark-btn {
    color: var(--clr-dark);
}

.mode-dark-btn:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    box-shadow: 0 0 50px var(--clr-dark);
}

.mode-dark-btn::before {
    border-top: 2px solid var(--clr-dark);
    border-left: 2px solid var(--clr-dark);
}

.mode-dark-btn::after {
    border-bottom: 2px solid var(--clr-dark);
    border-right: 2px solid var(--clr-dark);
}

@media (min-width: 480px) {
    .mode-btn {
        font-size: 1.5em;
    }
}

@media (min-width: 760px) {
    .mode-btn {
        font-size: 2.4em;
    }
}

@media (min-width: 920px) {
    .mode-btn {
        font-size: 2.7em;
    }
}

@media (min-width: 1200px) {
    .mode-btn {
        font-size: 3em;
    }
}