<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mode.css">
    <title>Pavel Yudchits</title>
</head>
<body>
    <div class="wrapper">
        <section class="mode">
            <div class="mode__container">
                <div class="mode__light center">
                    <button class="btn mode-light-btn" data-mode="light-mode">Light Mode</button>
                </div>
                <div class="mode__dark center">
                    <button class="btn mode-dark-btn" data-mode="dark-mode">Dark Mode</button>
                </div>
            </div>
        </section>
      </div>

      <script type="module" src="../../main.js"></script>
      <script type="module" src="mode.js"></script>
</body>
</html>