@import url('../../style.css');

.wrapper {
    height: 100%;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    position: relative;
}

.container {
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

main {
    height: 100%;
}

.welcome {
    height: 100%;
}

.welcome__container {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome__image {
    margin-top: 1em;
    text-align: center;
}

.welcome-image-image {
    width: 230px;
    border-radius: 50%;
}

.welcome-image__caption {
    margin-top: 10px;
}

.welcome-image-caption__items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.welcome-image-caption__item {
    text-transform: uppercase;
    text-wrap: nowrap;
    line-height: 1.5;
}

.welcome-image-caption-item__title {
    font-size: 1.7em;
    font-weight: 700;
}

.btn::before {
    border-top: 2px solid var(--clr-dark);
    border-left: 2px solid var(--clr-dark);
}

.btn::after {
    border-bottom: 2px solid var(--clr-dark);
    border-right: 2px solid var(--clr-dark);
}

.btn:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    box-shadow: 0 0 50px var(--clr-dark);
}

@media (min-width: 480px) {
    .welcome-image-image {
        width: 260px;
    }

    .welcome-image-caption__item {
        font-size: 1.2em;
    }

    .welcome-image-caption-item__title {
        font-size: 1.9em;
    }

    .btn {
        font-size: 1.2em !important;
    }
}

@media (min-width: 760px) {
    .welcome-image-image {
        width: 350px;
    }

    .welcome-image-caption__item {
        font-size: 1.7em;
    }

    .welcome-image-caption-item__title {
        font-size: 2.1em;
    }

    .btn {
        font-size: 1.2em !important;
    }
}

@media (min-width: 920px) {

    .welcome__body {
        margin-top: 0;
    }

    .welcome__image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .welcome-image__image {
        width: max-content;
    }
}

@media (min-width: 1200px) {

    .welcome-image-image {
        width: 340px;
    }
}
