<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pavel Yudchits</title>
    <link rel="stylesheet" href="home.css">
    <link rel="shortcut icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="wrapper">
        <div class="container">

            <header class="_fade-animation">
                <!-- here will be navbar inserted by script -->
            </header>
            <main>
                <section class="welcome">
                    <div class="welcome__container">
                        <div class="welcome__body">
                            <div class="welcome__image">
                                <div class="welcome-image__image">
                                    <img 
                                        src="../../assets/images/me.jpg"  
                                        alt="me"
                                        width="170px" 
                                        class="welcome-image-image _fade-animation"
                                    >
                                </div>
                                <div class="welcome-image__caption">
                                    <div class="welcome-image-caption__container">
                                        <div class="welcome-image-caption__rows">
                                            <div class="welcome-image-caption__row top-caption _fade-animation">
                                                Hey, I'm Pavel
                                            </div>
                                            <div class="welcome-image-caption__row _fade-animation">
                                                Work as a full-stack developer
                                            </div>
                                        </div>
                                        <div class="welcome-image-caption__buttons">
                                            <div class="_fade-animation">
                                                <button class="btn about-me-btn">About me</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
    
    <script type="module" src="../../main.js"></script>
    <script type="module" src="home.js"></script>
</body>
</html>