<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pavel Yudchits</title>
    <link rel="stylesheet" href="contact.css">
    <link rel="shortcut icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="_fade-animation">
                <!-- here will be navbar inserted by script -->
            </header>
            <main>
                <div class="main__container">
                    <section class="contact">
                        <div class="contact__container">
                            <div class="contact__header">
                                <div class="contact-header__items">
                                    <div class="contact-header__item _fade-animation">
                                        Open to part-time freelance projects in any area.
                                    </div>
                                    <div class="contact-header__item _fade-animation">
                                        Available during evenings for short-term or long-term engagements.
                                    </div>
                                </div>
                            </div>
                            <div class="contact__body">
                                <div class="contact-body__container">
                                    <div class="contact-body__image">
                                        <img 
                                            src="../../assets/images/me-after-school.jpg" 
                                            alt="" 
                                            width="200px"
                                            class="contact-body-image__image _fade-animation"
                                        >
                                    </div>
                                    <div class="contact-body__buttons">
                                        <div class="contact-body__button _fade-animation">
                                            <button class="btn">Download Resume</button>
                                        </div>
                                    </div>
                                    <div class="contact-body__icons _fade-animation">
                                        <div class="contact-body__icon">
                                            <a href="https://t.me/yudchits" target="_blank">
                                                <img 
                                                    src="../../assets/images/telegram.svg" 
                                                    alt="Telegram"
                                                    width="40px"
                                                >
                                            </a>
                                        </div>
                                        <div class="contact-body__icon">
                                            <a href="https://www.instagram.com/pavel.yudchits/" target="_blank">
                                                <img 
                                                    src="../../assets/images/instagram.svg" 
                                                    alt="Instagram"
                                                    width="40px"
                                                >
                                            </a>
                                        </div>
                                        <div class="contact-body__icon">
                                            <img 
                                                src="../../assets/images/linkedin.svg" 
                                                alt="LinkedIn"
                                                width="40px"
                                            >
                                        </div>
                                        <div class="contact-body__icon">
                                            <a href="https://github.com/Yudchits" target="_blank">
                                                <img 
                                                    src="../../assets/images/github.svg" 
                                                    alt="GitHub"
                                                    width="40px"
                                                    class="github-image"
                                                >
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div>
    <script type="module" src="../../main.js"></script>
    <script type="module" src="contact.js"></script>
</body>
</html>