<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pavel Yudchits</title>
    <link rel="stylesheet" href="experience.css">
    <link rel="shortcut icon" href="../../../public/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="_fade-animation">
                <!-- here will be navbar inserted by script -->
            </header>
            <main>
                <section class="experience">
                    <div class="experience__container">
                        <div class="experience__body">
                            <article class="job">
                                <div class="job__container">
                                    <div class="job__table">
                                        <div class="job-table__container">
                                            <div class="job-table__header">
                                                <h3 class="_fade-animation">Experience</h3>
                                            </div>
                                            <div class="job-table__body">
                                                <table class="job-table__table _fade-animation">
                                                    <thead>
                                                        <tr>
                                                            <th>Company</th>
                                                            <th>Period</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>the National Center of Legislation 
                                                                and Legal Information
                                                            </td>
                                                            <td>November 2023 - Present</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="projects">
                                <div class="projects__container">
                                    <div class="projects__body">
                                        <div class="projects__table">
                                            <div class="project-table__container">
                                                <div class="projects-table__header">
                                                    <h3 class="_fade-animation">Projects & Contributions</h3>
                                                </div>
                                                <div class="projects-table__body">
                                                    <table class="projects-table__table _fade-animation">
                                                        <thead>
                                                            <tr>
                                                                <th>Project</th>
                                                                <th>What I did</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Legal Acts Management System</td>
                                                                <td>A module to interact with information storing 
                                                                    in json. The information contains two main 
                                                                    components: texts and tables. I developed editor 
                                                                    for the components and library to upload 
                                                                    the information. The UI was made with 
                                                                    <b>Angular 7</b> and the API was made with 
                                                                    <b>.NET 5</b>.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Search System Testing</td>
                                                                <td>Modification of search system testing
                                                                    to compare sphinx search coefficients with
                                                                    calculated manually ones. The 
                                                                    application was made with <b>C# 5</b> and 
                                                                    <b>Windows Forms</b>.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>

    <script type="module" src="../../main.js"></script>
    <script type="module" src="experience.js"></script>
</body>
</html>