@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --clr-dark: #f1f5f9;
    --clr-light: #110f1b;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}

html,
body {
    height: 100%;
}

a, 
a:link, 
a:visited,
a:hover  {
    text-decoration: none;
    color: var(--clr-dark);
}

header, 
main,
footer,
aside, 
nav, 
section {
	display: block;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-size: inherit;
	font-weight: inherit;
}

ul, 
ol, 
li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, 
svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

input, 
textarea, 
button, 
select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, 
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, 
input:active,
button:focus, 
button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

.light-mode {
    --clr-dark: #110f1b;
    --clr-light: #f1f5f9;
}

.dark-mode {
    --clr-dark: #f1f5f9;
    --clr-light: #110f1b;
}

._fade-animation {
    opacity: 0;
    transition: opacity 1.7s ease-in;
}

._faded {
    opacity: 1;
}

.btn {
    background-color: transparent;
    border: none;
    position: relative;
    padding: 10px 17px;
    text-wrap: nowrap;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0.7px;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0000004a);
}

.btn:hover {
    transition-delay: 0.3s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    transition: 0.5s;
    transition-delay: 0.3s;
}

.btn:hover::before {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    transition: 0.5s;
    transition-delay: 0.3s;
}

.btn:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}